# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
src/packages/EntityFramework.6.1.2/content/App.config.transform
src/packages/EntityFramework.6.1.2/content/Web.config.transform
src/packages/EntityFramework.6.1.2/EntityFramework.6.1.2.nupkg
src/packages/EntityFramework.6.1.2/lib/net40/EntityFramework.SqlServer.xml
src/packages/EntityFramework.6.1.2/lib/net40/EntityFramework.xml
src/packages/EntityFramework.6.1.2/lib/net45/EntityFramework.SqlServer.xml
src/packages/EntityFramework.6.1.2/lib/net45/EntityFramework.xml
src/packages/EntityFramework.6.1.2/tools/about_EntityFramework.help.txt
src/packages/EntityFramework.6.1.2/tools/EntityFramework.psd1
src/packages/EntityFramework.6.1.2/tools/EntityFramework.psm1
src/packages/EntityFramework.6.1.2/tools/init.ps1
src/packages/EntityFramework.6.1.2/tools/install.ps1
src/packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml
src/packages/Newtonsoft.Json.6.0.8/Newtonsoft.Json.6.0.8.nupkg
src/packages/Newtonsoft.Json.6.0.8/tools/install.ps1
src/packages/System.Data.SQLite.1.0.96.0/System.Data.SQLite.1.0.96.0.nupkg
src/packages/System.Data.SQLite.Core.1.0.96.0/build/net20/System.Data.SQLite.Core.targets
src/packages/System.Data.SQLite.Core.1.0.96.0/build/net40/System.Data.SQLite.Core.targets
src/packages/System.Data.SQLite.Core.1.0.96.0/build/net45/System.Data.SQLite.Core.targets
src/packages/System.Data.SQLite.Core.1.0.96.0/build/net451/System.Data.SQLite.Core.targets
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net20/System.Data.SQLite.xml
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net40/System.Data.SQLite.xml
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net45/System.Data.SQLite.xml
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net451/System.Data.SQLite.xml
src/packages/System.Data.SQLite.Core.1.0.96.0/System.Data.SQLite.Core.1.0.96.0.nupkg
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net40/app.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net40/app.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net40/web.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net40/web.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net45/app.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net45/app.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net45/web.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net45/web.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net451/app.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net451/app.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net451/web.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net451/web.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/System.Data.SQLite.EF6.1.0.96.0.nupkg
src/packages/System.Data.SQLite.EF6.1.0.96.0/tools/net40/install.ps1
src/packages/System.Data.SQLite.EF6.1.0.96.0/tools/net45/install.ps1
src/packages/System.Data.SQLite.EF6.1.0.96.0/tools/net451/install.ps1
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net20/app.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net20/web.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net40/app.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net40/web.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net45/app.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net45/web.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net451/app.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net451/web.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/System.Data.SQLite.Linq.1.0.96.0.nupkg
src/Cartogram/bin/Debug/Cartogram.exe.config
src/Cartogram/bin/Debug/Cartogram.pdb
src/Cartogram/bin/Debug/Cartogram.vshost.exe.config
src/Cartogram/bin/Debug/Cartogram.vshost.exe.manifest
src/Cartogram/bin/Debug/Cartographer.exe.config
src/Cartogram/bin/Debug/Cartographer.pdb
src/Cartogram/bin/Debug/Cartographer.vshost.exe.config
src/Cartogram/bin/Debug/Cartographer.vshost.exe.manifest
src/Cartogram/bin/Debug/EntityFramework.SqlServer.xml
src/Cartogram/bin/Debug/Newtonsoft.Json.xml
src/Cartogram/bin/Debug/System.Data.SQLite.xml
src/Cartogram/bin/Debug/Tesseract.xml
src/Cartogram/obj/Debug/App.baml
src/Cartogram/obj/Debug/App.g.cs
src/Cartogram/obj/Debug/App.g.i.cs
src/Cartogram/obj/Debug/Cartogram.csproj.FileListAbsolute.txt
src/Cartogram/obj/Debug/Cartogram.csproj.GenerateResource.Cache
src/Cartogram/obj/Debug/Cartogram.csprojResolveAssemblyReference.cache
src/Cartogram/obj/Debug/Cartogram.g.resources
src/Cartogram/obj/Debug/Cartogram.pdb
src/Cartogram/obj/Debug/Cartogram.Properties.Resources.resources
src/Cartogram/obj/Debug/Cartogram_Content.g.cs
src/Cartogram/obj/Debug/Cartogram_Content.g.i.cs
src/Cartogram/obj/Debug/Cartogram_MarkupCompile.cache
src/Cartogram/obj/Debug/Cartogram_MarkupCompile.i.cache
src/Cartogram/obj/Debug/Cartogram_MarkupCompile.lref
src/Cartogram/obj/Debug/Cartographer.csproj.FileListAbsolute.txt
src/Cartogram/obj/Debug/Cartographer.csproj.GenerateResource.Cache
src/Cartogram/obj/Debug/Cartographer.csprojResolveAssemblyReference.cache
src/Cartogram/obj/Debug/Cartographer.g.resources
src/Cartogram/obj/Debug/Cartographer.pdb
src/Cartogram/obj/Debug/Cartographer.Properties.Resources.resources
src/Cartogram/obj/Debug/Cartographer_MarkupCompile.cache
src/Cartogram/obj/Debug/Cartographer_MarkupCompile.i.cache
src/Cartogram/obj/Debug/Cartographer_MarkupCompile.i.lref
src/Cartogram/obj/Debug/Cartographer_MarkupCompile.lref
src/Cartogram/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/Cartogram/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Cartogram/obj/Debug/ExtendedStatusStrip.baml
src/Cartogram/obj/Debug/ExtendedStatusStrip.g.cs
src/Cartogram/obj/Debug/extendedStatusStrip.g.i.cs
src/Cartogram/obj/Debug/GeneratedInternalTypeHelper.g.cs
src/Cartogram/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
src/Cartogram/obj/Debug/MainWindow.baml
src/Cartogram/obj/Debug/MainWindow.g.cs
src/Cartogram/obj/Debug/MainWindow.g.i.cs
src/Cartogram/obj/Debug/Settings.baml
src/Cartogram/obj/Debug/Settings.g.cs
src/Cartogram/obj/Debug/Settings.g.i.cs
src/packages/Tesseract.2.3.0.0/lib/net20/Tesseract.xml
src/packages/Tesseract.2.3.0.0/lib/net35/Tesseract.xml
src/packages/Tesseract.2.3.0.0/lib/net40/Tesseract.xml
src/packages/Tesseract.2.3.0.0/lib/net40-client/Tesseract.xml
src/packages/Tesseract.2.3.0.0/lib/net45/Tesseract.xml
src/packages/Tesseract.2.3.0.0/lib/net451/Tesseract.xml
src/packages/Tesseract.2.3.0.0/Tesseract.2.3.0.0.nupkg
src/packages/Tesseract.2.3.0.0/tools/install.ps1
