<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cartogram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <Cartogram.Properties.Settings>
      <setting name="ZanaQuantity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CharacterName" serializeAs="String">
        <value />
      </setting>
      <setting name="mapHotkey" serializeAs="String">
        <value>113</value>
      </setting>
      <setting name="zanaHotkey" serializeAs="String">
        <value>114</value>
      </setting>
      <setting name="cartoHotkey" serializeAs="String">
        <value>115</value>
      </setting>
      <setting name="SelectedLeague" serializeAs="String">
        <value />
      </setting>
      <setting name="HideQuantity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideQuality" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideRarity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HidePacksize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Topmost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockOverlay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverlayPosition" serializeAs="String">
        <value />
      </setting>
      <setting name="OverlayLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OverlayTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OverlayOpacity" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="HideZana" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckUpdates" serializeAs="String">
        <value>True</value>
      </setting>
    </Cartogram.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>